<a href="https://colab.research.google.com/github/itbvrith191227/30-Days-of-Python-Programming/blob/main/%F0%9F%96%A5%EF%B8%8F_Mini_Project_(Day_15)_Student_Management_System_%F0%9F%A7%91%E2%80%8D%F0%9F%8E%93.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Goal**: Store student info and perform basic operations.

**Features**: Store multiple students using dictionary: Key: Roll Number Value: Tuple (Name, Age, Grade) Keep track of all courses in a set to avoid duplicates. Store a list of student roll numbers for iteration.

In [12]:
students = {}
courses = set()
roll_numbers = []

In [15]:
for i in range(3):
  roll = int(input("Enter roll number: "))
  name = input("Enter name: ")
  age = int(input("Enter age: "))
  grade = input("Enter grade: ")
  course = input("Enter course:")
  students[roll] = (name, age, grade)
  courses.add(course)
  roll_numbers.append(roll)

Enter roll number: 1
Enter name: shiv
Enter age: 11
Enter grade: A++
Enter course:english
Enter roll number: 2
Enter name: selv
Enter age: 12
Enter grade: A+
Enter course:science
Enter roll number: 3
Enter name: shrav
Enter age: 13
Enter grade: A
Enter course:math

In [16]:
print("\nStudent Details:")
for roll in roll_numbers:
    print(f"Roll: {roll}, Info: {students[roll]}")

Student Details:
Roll: 1, Info: ('shiv', 11, 'A++')
Roll: 2, Info: ('selv', 12, 'A+')
Roll: 3, Info: ('shrav', 13, 'A')

In [22]:
for i in range(3):
  course = input("Enter course to update:")
  courses.add(course)

Enter course to update:telugu
Enter course to update:hindi
Enter course to update:social

In [24]:
print(courses)

{'english', 'social', 'hindi', 'telugu', 'science', 'math'}